<!-- ngIf Examples -->
<div *ngIf = "false">false</div>
<div *ngIf = "true">true</div>
<div *ngIf = "a < b"> a < b</div>
<div *ngIf = "a > b"> a > b</div>
<div *ngIf = "str == 'yes'">yes!</div>
<div *ngIf = "str == 'no'">no!</div>

<!-- ngSwitch Examples -->
<div class="container" [ngSwitch]="myVar">
  <div *ngSwitchCase="'A'">Var is A</div>
  <div *ngSwitchCase="'B'">Var is B</div>
  <div *ngSwitchCase="'C'">Var is C</div>
  <div *ngSwitchDefault>Var is something else</div>
</div>

<h4 class="ui horizontal divider header">
  Current choice is {{ choice }}
</h4>

<div>
  <ul [ngSwitch]="choice">
    <li *ngSwitchCase="1">First choice</li>
    <li *ngSwitchCase="2">Second choice</li>
    <li *ngSwitchCase="3">Third choice</li>
    <li *ngSwitchCase="4">Fourth choice</li>
    <li *ngSwitchCase="2">Second choice, again</li>
    <li *ngSwitchDefault>Default choice</li>
  </ul>
</div>

<button (click)="nextChoice()">
  Next Choice
</button>

<!-- NgStyle Examples -->
<div [style.background-color]="'yellow'">
  Uses fixed yellow background
</div>

<div [ngStyle]="{color: 'white', 'background-color': 'blue'}">
  Uses fixed white text on blue background
</div>

<div>
  <input type="text" name="color" value="{{ color }}" #colorinput>
</div>

<div>
  <input type="text" name="fontSize" value="{{ fontSize }}" #fontinput>
</div>

<button (click)="apply(colorinput.value, fontinput.value)"> Apply Settings</button>

<div>
  <span [ngStyle]="{color: 'red'}" [style.font-size.em]="fontSize">red text</span>
</div>

<h4>
  ngStyle with object property from variable
</h4>

<div>
  <span [ngStyle]="{color: color}">{{color}} text</span>
</div>

<div [style.background-color]="color"
    style="color: white;">
  {{ color }} background
</div>

<div>==================== ngFor Example starts!! ====================</div>
<div class="ui horizontal divider header">
  List of objects
</div>
<table class="top attached ui basic table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
      <th>City</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let p of people">
    <td>{{ p.name }}</td>
    <td>{{ p.age }}</td>
    <td>{{ p.city }}</td>
  </tr>
  </tbody>
</table>

<div class="ui horizontal divider header">
  Nested data
</div>
<div *ngFor="let obj of peopleByCity">
  <h1>{{obj.city}}</h1>
  <table class="top attached ui basic table">
    <thead>
    <tr>
      <th>Name</th>
      <th>Age</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let p of obj.people">
      <td>{{ p.name }}</td>
      <td>{{ p.age }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="ui list" *ngFor="let c of cities; let num = index">
  <div class="item">{{ num+1 }} - {{ c }}</div>
</div>
